# Server Configuration
PORT=3000
NODE_ENV=development

# IBM Cloud Credentials
# 1. Your IBM Cloud IAM API Key (created in IBM Cloud Console > Manage > Access IAM > API Keys)
IBM_CLOUD_API_KEY= OPIeixehiWE1dSshfuRo3UH4GFS6o-U3Ujx3v1Iezi12

# 2. Your Watson Machine Learning (WML) Scoring URL for predictions
# Example: https://us-south.ml.cloud.ibm.com/ml/v4/deployments/your-deployment-id/predictions?version=2021-05-01
# Replace <region> and <deployment-id> with your deployed WML instance details
WML_SCORING_URL=https://au-syd.ml.cloud.ibm.com/ml/v4/deployments/019f53b9-e969-7301-9801-25e64709350c/predictions?version=2021-05-01
